body{
    background-image: url(./images/Login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

input{
    width: 300px;
    height: 50px;
    font-size: 20px;
    border: solid 1px black;
}

.roulette {
    background-image: url(./images/Login.jpg);
    position: absolute;
    left: 1000px;
    top: 350px;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
    width: 200px;
    height: 200px;
    border-radius: 8px;
    color: white;
}

.roulette img {
    width: 150px;
    height: 150px;
}
